.tab-container {
    display: flex;
    padding-bottom: 20px;
    background: white;
    border-bottom: 2px solid black;
  }
  
  .tab {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #f0f0f0;
    margin-right: 10px;
  }
  
  .tab.active {
    background-color: #007bff;

 
    color: white;
  }
  .tab{
    font-weight: bolder;
   
  }
  